body {
	color: #2f7e61;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: #90b973;
	color: #2f7e61;
}

a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	color: #2f7e61;
}

a {
	color: #2f7e61;
}

hr.star-light:after, hr.star-primary:after  {
	background-color: #2f7e61;
}

hr.star-primary {
	border-color: #2f7e61;
}

hr.star-primary:after {
	color: #fff;
}

.navbar-default{
	background-color: #90b973;
}

header {
	background-color: #fff;
}

li {
	display: inline-block;
}

#leaf {
	height: 50%;
	width: 50%;
}

.btn {
	border-width:0;
}

.btn:hover {
	background-color: #c9e6b6;
}

.btn-success {
	background-color: #2f7e61;
}

header .loc-map {
	padding-top: 200px;
	padding-left: 100px;
}

header img {
	margin: 0 auto 0;
}

.map {
	float: left;
	margin-left: 150px;
}

#location {
	width: 100px;
	height: 500px;
}

#icon-location {
	width: 20%;
	height: 10%;
}

.tes {
	text-align: right;
}

#img-responsive {
	width: 500px;
	height: 400px;
}

section.success {
	background-color: #c9e6b6;
	/*height: 800px;*/
}

footer .footer-above, footer .footer-below {
	background-color:#90b973;
}

.close:hover {
	color: #2f7e61;
}

a:link {
	text-decoration: none;
}

.list-taman {
	float: left;
	/*margin-top: 80px;*/
	margin-left: 60px;
}

.list-taman:hover {
	color: #90b973;
}

/*#gambar-statistik1, #gambar-statistik2, #gambar-statistik3, #gambar-statistik4, #gambar-statistik5, #gambar-statistik6, #gambar-statistik7, #gambar-statistik8, #gambar-statistik9, #gambar-statistik10, #gambar-statistik11, #gambar-statistik12, #gambar-statistik13, #gambar-statistik14, #gambar-statistik15, #gambar-statistik16 {
	padding-top: 40px;
}*/

.list-taman img {
	padding-top: 40px;
}

/*#gambar-statistik {
	padding-top: 40px;
}*/


.list-taman p {/*#taman1, #taman2, #taman3, #taman4, #taman5, #taman6, #taman7, #taman8, #taman9, #taman10, #taman11, #taman12, #taman13, #taman14, #taman15, #taman16{*/
	border: 5px;
	border-color: #2f7e61;
	background-color: #90b973;
	font-size: 16px;
	color: #fff;
	padding: 8px;
	cursor: pointer;
	font-family: helvetica;
}

#taman1 {
	background-color: #2f7e61;
}

#taman16 {
	margin-bottom: 0;
}

#gambar-statistik2, #gambar-statistik3, #gambar-statistik4, #gambar-statistik5, #gambar-statistik6, #gambar-statistik7, #gambar-statistik8, #gambar-statistik9, #gambar-statistik10, #gambar-statistik11, #gambar-statistik12, #gambar-statistik13, #gambar-statistik14, #gambar-statistik15, #gambar-statistik16 {
	height: 50%;
	width: 50%;
	display: none;
}

#gambar-statistik1 {
	height: 50%;
	width: 50%;
}

#nama-taman {
	width: 300px;
	height: 400px;
	overflow-y: auto;
	margin-top: 40px;
	cursor: pointer;
	margin-bottom: 0;
	/*height: 600px;*/
}

::-webkit-scrollbar {
   width: 15px;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px #2f7e61;
   border-radius: 0px;
}

::-webkit-scrollbar-thumb {
   border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px #2f7e61;
   background-color: #2f7e61; 
}

#lokasi-taman {
	color: #000;
	cursor: pointer;
}

#contactForm {
	margin-top: 50px;
}

#filter-option {
	float: left;
	border-color: #2f7e61;
	border-width: 5px;
	padding-left: 10px;
}

.filter {
	background-color: #fff;
	border-color: #2f7e61;
	color: #2f7e61;
	border-width: 1px;
	border-style: solid;
}

.filter:hover {
	color: #2f7e61;
}

/* ADD PENGADUAN */
.form-control1 {
	display: block;
	width: 100%;
	height: 200px;
	padding: 10px 15px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #2f7e61;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #dce4ec;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control2 {
	display: block;
	width: 100%;
	height: 43px;
	padding: 5px 15px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #2c3e50;
	background-color: #ffffff;
	background-image: none;
	/*border: 1px solid #dce4ec;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
}

.form-control1, input {
	border-width: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#pengaduan {
	float: left;
	margin-left: 15px;
	margin-top: 40px;
	font-size: 1.5em;
}

#gambar {
	color: #2f7e61;
	font-size: 1.5em;
	float: left;
	padding: 20px 15px;
}

.btn-default1 {
color: #787878;
background-color: #fff;
}

.btn-default1:hover {
	color: #2f7e61;
}

/* daftar pengaduan */
table {
	margin-top: 50px;
}

.table {
	color: #000;
}

th {
	text-align: center;
	background-color: #c9e6b6;
}

td {
	text-align: center;
}

header h2 {
	color: #2f7e61;
	font-size: 3em;
}

.go {
	float: right;
	background-color: #2f7e61;
	border-width: 0;
}

header .container {
	padding-top: 150px;
}

#form-button {
	float: right;
}

.form-control {
	border-color: #c9e6b6;
}

/* pengaduan-user */
#back {
	background-color: #2f7e61;
	border-radius: 4px;
}

/* statistik-pengaduan admin */
#about1 {
	margin-top: 50px;
	background-color: #fff;
}

section h2 {
	color: #2f7e61;
	font-size: 3em;
}

/* Manajemen User & Taman */
.edit, .delete {
	vertical-align: middle;
	border-width: 0;
}

.delete {
	background-color: #d1d1d1;
}

.edit {
	background-color: #2f7e61;
}

.add {
	background-color: #fff;
	border-width: 0;
	color: #90b973;
}

.delete:hover {
	background-color: #787878;
}

.add:hover {
	background-color: #fff;
	color: #2f7e61;
}

#manajemen-user {
	border-bottom: solid 2px #d1d1d1;
}

#manajemen-taman {
	padding-top: 20px;
	padding-bottom: 50px;
}

#font {
	font-size: 3em;
}